<h2>あなたが考えに近い政党順位</h2>

<table class="table">
<% @user_data.each_with_index do |value, key| %>
<tr>
  <th style="width:10%;"><%= key + 1 %>位</th>
  <td style="width:80%;"><%= @parties[key].party_name %></td>
  <td style="width:10%;"><%= link_to '政党詳細', {:controller => 'parties', :action => 'show', :id => @parties[key].id} %></td>
</tr>
<% end %>
</table>
<%= link_to "マッチングへ戻る", machings_path %>
